'@{
    var user = (string) ViewData["User"];
}
@{
    ViewData["Title"] = "Login - PontoDigital";
    ViewData["H2"] = "Login";
}

        <hgroup>
            <h1>PontoDigital</h1>
        </hgroup>
    
    <main class="main_h2">
        <h2>@ViewData["H2"]</h2> 
        <form method="POST" action='@Url.Action("Login", "Cliente")'>
            <div>
                <label for="email">E-mail</label>
                <br />
                <input id="email" type="email" maxlength="100" minlength="3" name="email" />
            </div>

            <div>
                <label for="senha">Senha</label>
                <br />
                <input id="senha" type="password" maxlength="100" minlength="3" name="senha" />
            </div>
            
            <input type="submit" value="Acessar minha conta" />

            <div id="link-cadastro">
                <a href='@Url.Action("Index", "Cadastro")'>Quero me cadastrar!</a>
            </div>

        </form>

    </main>
